
.currency-container-converter {
  width: 20rem;
  background: #eaeaea;
  border: solid 1px;
}

.currency-value {
  display: grid;
  grid-template-columns: 3rem auto;
  width: 100%;
}

.currency-code {
  float: left;
  font-weight: bold
}

.currency-header {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.currency-number {
  display: grid;
  justify-content: end;
  font-weight: bold
}

.add-currency {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}